
.viewport {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.viewport .header-view {
    flex: 0 1 auto;
}

.viewport .content-view {
    flex: 1 1 auto;
}

.viewport .footer-view {
    flex: 0 1 2rem;
}