
#loginForm {
    z-index: 0;
}

#usernameTextbox {
    border-radius: 0;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
}

#usernameTextbox:focus {
    box-shadow: none;
    border-color: lightslategray;
}

#passwordTextbox {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

#passwordTextbox:focus {
    box-shadow: none;
    border-color: lightslategray;
}

#secretTextbox {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

#secretTextbox:focus {
    box-shadow: none;
    border-color: lightslategray;
}

#secretOpenButton {
    border-radius: 0;
    border: none;
    color: lightslategray;
}

#secretOpenButton:hover {
    background-color: transparent;
    border-color: #ffac6c;
    color: #ffac6c;
    box-shadow: none
}

#secretOpenButton:focus {
    background-color: transparent;
    border-color: #cd6a41;
    color: #cd6a41;
    box-shadow: none;
}

#secretDropdown {
    border-radius: 0;
    border: none;
    color: lightslategray;
}

#secretDropdown:hover {
    background-color: transparent;
    border-color: #ffac6c;
    color: #ffac6c;
    box-shadow: none;
}

#secretDropdown:focus {
    background-color: transparent;
    border-color: #cd6a41;
    color: #cd6a41;
    box-shadow: none;
}

#loginButton {
    border-radius: 0;
    border-color: lightslategray;
    color: lightslategray;
}

#loginButton:hover {
    background-color: transparent;
    border-color: #ffac6c;
    color: #ffac6c;
    box-shadow: none;
}

#loginButton:after {
    background-color: #ffd2a0;
    border-color: #ffac6c;
    color: white;
    box-shadow: none;
}
