
#app-nav {
    box-shadow: 0 1px 1px rgba(182, 182, 182, 0.75);
}

#menuButton {
    border-radius: 0;
    outline: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
    color: lightcoral;
}

#menuButton:hover {
    color: #ff8f8f;
}

#app-brand {
    color: lightcoral;
    font-weight: bold;
}

#app-brand:hover {
    color: #ff8f8f;

}

#settingsButton {
    border-radius: 0;
    outline: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
    color: lightcoral;
}

#settingsButton:hover {
    color: #ff8f8f;
}
