
html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

#root {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
}

